<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>

<script>
	$(document).ready(function() {
		$("#listBtn").on("click", function() {
			$.get("/api/boards", function(data) {
				console.log(data);

				alert(JSON.stringify(data));
			});
		});

		$("#readBtn").on("click", function() {
			var boardNo = $("#boardNo");
			var boardNoVal = boardNo.val();

			$.ajax({
				type : "GET",
				url : "/api/boards/" + boardNoVal,
				contentType : "application/json; charset=UTF-8",
				success : function(data) {
					console.log(data);

					alert(JSON.stringify(data));

					$("#title").val(data.title);
					$("#content").val(data.content);
					$("#writer").val(data.writer);
				},
				error : function(xhr, status, error) {
					alert("code:" + xhr.status + "\n"
							+ "message:" + xhr.responseText + "\n"
							+ "error:" + error);
				}
			});
		});

		$("#registerBtn").on("click", function() {
			var title = $("#title");
			var content = $("#content");
			var writer = $("#writer");

			var titleVal = title.val();
			var contentVal = content.val();
			var writerVal = writer.val();

			var boardObject = {
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};

			$.ajax({
				type : "POST",
				url : "/api/boards",
				data : JSON.stringify(boardObject),
				contentType : "application/json; charset=UTF-8",
				success : function() {
					alert("Created");
				},
				error : function(xhr, textStatus, error) {
					alert("code:" + xhr.status + "\n"
							+ "message:" + xhr.responseText + "\n"
							+ "error:" + error);
				}
			});
		});

		$("#deleteBtn").on("click", function() {
			var boardNo = $("#boardNo");
			var boardNoVal = boardNo.val();

			$.ajax({
				type : "DELETE",
				url : "/api/boards/" + boardNoVal,
				contentType : "application/json; charset=UTF-8",
				success : function() {
					alert("Deleted");
				},
				error : function(xhr, status, error) {
					alert("code:" + xhr.status + "\n"
							+ "message:" + xhr.responseText + "\n"
							+ "error:" + error);
				}
			});
		});

		$("#modifyBtn").on("click", function() {
			var boardNo = $("#boardNo");
			var title = $("#title");
			var content = $("#content");
			var writer = $("#writer");

			var boardNoVal = boardNo.val();
			var titleVal = title.val();
			var contentVal = content.val();
			var writerVal = writer.val();

			var boardObject = {
				boardNo : boardNoVal,
				title : titleVal,
				content : contentVal,
				writer : writerVal
			};

			$.ajax({
				type : "PUT",
				url : "/api/boards/" + boardNoVal,
				data : JSON.stringify(boardObject),
				contentType : "application/json; charset=UTF-8",
				success : function() {
					alert("Modified");
				},
				error : function(xhr, status, error) {
					alert("code:" + xhr.status + "\n"
							+ "message:" + xhr.responseText + "\n"
							+ "error:" + error);
				}
			});
		});

		$("#resetBtn").on("click", function() {
			$("#boardNo").val("");
			$("#title").val("");
			$("#content").val("");
			$("#writer").val("");
		});

	});
</script>

<body>
<h1>ajax Home.</h1>

<table>
	<tr>
		<td><label for="boardNo">boardNo</label></td>
		<td><input type="text" name="boardNo" value="" id="boardNo"></td>
	</tr>
	<tr>
		<td><label for="title">title</label></td>
		<td><input type="text" name="title" value="" id="title"></td>
	</tr>
	<tr>
		<td><label for="content">content</label></td>
		<td><textarea id="content" name="content"></textarea></td>
	</tr>
	<tr>
		<td><label for="writer">writer</label></td>
		<td><input type="text" name="writer" value="" id="writer"></td>
	</tr>
</table>

<div>
	<button id="listBtn">LIST</button>
	<button id="readBtn">READ</button>
	<button id="registerBtn">REGISTER</button>
	<button id="deleteBtn">DELETE</button>
	<button id="modifyBtn">MODIFY</button>
	<button id="resetBtn">RESET</button>
</div>
</body>
</html>
